@import "../../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../../../node_modules/primeng/resources/primeng.min.css";
@import "../../../../node_modules/primeng/resources/themes/omega/theme.css";

.container {
  padding-top: 65px;
  background-color: white;
  min-height: 500px;
}


.material-icons.md-240 {
  font-size: 240px;
}

.applicant-loading-container {
  padding: 50px;
  text-align: center;
}

.applicant-loading {
  color: blue;
  opacity: 0.1;
  animation: flyDown 3s;
  animation-iteration-count: infinite;
}

@keyframes flyDown {
  0% {transform: translateY(0px);}
  100% {transform: translateY(100px);}
}
