<div class="container">
  <div *ngIf="!users" class="applicant-loading-container">
    <i class="material-icons md-240 applicant-loading">cloud_download</i>
  </div>
  <div *ngIf="users" class="applicant-list-conatiner">
    <p-dataTable [value]="users" [rows]="20" [paginator]="true" (onRowClick)="checkApplicant($event)">

      <p-column
        field="name"
        header="Name"
        [filter]="true"
        filterMatchMode="contains"
        [sortable]="true">
      </p-column>

      <p-column
        field="status"
        header="Status"
        [filter]="true"
        [sortable]="true"
        filterMatchMode="contains">
      </p-column>

      <p-column
              field="processStartedAt"
              header="Process started at"
              [sortable]="true"
      >
        <ng-template let-applicant="rowData" pTemplate="body">
          <span *ngIf="applicant.processStartedAt">
            {{ applicant.processStartedAt | date: 'yyyy.MM.dd. HH:mm' }}
          </span>
        </ng-template>
      </p-column>

      <p-column
              field="processStartedAt"
              header="Deadline ends"
              filterMatchMode="contains">
        <ng-template let-applicant="rowData" pTemplate="body">
          <span *ngIf="applicant.processStartedAt">
            <!--{{ getDeadline(applicant) | amTimeAgo }}-->
          </span>
        </ng-template>
      </p-column>

      <p-column
              field="email"
              header="Email address">
      </p-column>

      <p-column
        field="attempts"
        header="No of attempts"
        [sortable]="true">
      </p-column>

    </p-dataTable>
  </div>
</div>
