<div class="container">

<br><br>
<br><br>
<br><br>
    <div class="try">
        <h1>You must answer all questions </h1>
    </div>

    <button class="btn btn-primary" (click)="sendInfo()">Info</button>

    <ul class="tests">
        <li *ngFor="let test of surveys" >
            <button class="btn btn-info" (click)="currentTest(test)">Edit {{test.name}}</button>
        </li>
    </ul>
    <button class="btn btn-info" (click)="currentTest(null)">Add New Survey</button>

    <br><br>
    <h1>Survey Editor Component</h1>
    <survey-editor
            [survey]="model"
            >
    </survey-editor>
    <br>

</div>
