<div class="container">

<br><br>
<br><br>
<br><br>
    <div class="try">
        <h1>You must answer all questions </h1>
    </div>

    <button class="btn btn-primary" (click)="sendInfo()">Info</button>

    <ul class="tests">
        <li *ngFor="let test of surveys" (click)="currentTest(test)">
            <span class="badge">{{test.name}}</span> {{test.name}}
        </li>
    </ul>
    <br><br>
    <h1>Survey Editor Component</h1>
    <survey-editor *ngFor = "let survey of surveys"
            [survey]="survey">
    </survey-editor>
    <br>

</div>
