.container {
  padding-top: 85px;
}

.btn {
    margin-top: 6px;
}

.save-button {
    width: 100%;
    margin-top: -1px;
}

.remove-button {
    margin-top: -3px;
}

.table-candidate-name {
    padding-top: 15px;
}

.send-email-button {
    position: static;
    margin-top: -1px;
    right: 0;
}

table {
    border-radius: 5px;
}

ol {
    margin-top: 15px;
    padding-left: 0;
    list-style: inside decimal;
}

.dates-container {
  min-height: 200px;
  border-bottom: 1px solid #999;
}

.screening-date {
    background-color: rgba(71, 137, 173, 0.24);
    padding: 15px;
    border-radius: 3px;
    min-height: 100px;
}

.candidate, .selectedCandidate {
    background-color: #f0f0f0;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
}

.candidate:hover {
    background-color: #4789ad;
}

.assign-title {
  text-align: center;
  font-family: 'Montserrat', cursive;
  color: green;
  margin-bottom: 30px;
}

.md-10 {
  font-size: 1.2em;
}

.material-icons.md-40 {
  font-size: 10em;
}

.material-icons.md-120 {
  font-size: 15em;
}

.loading-icon-container {
  text-align: center;
  padding: 20px;
}

.loading-icon {
  color: #999;
  opacity: 0.3;
  animation: loading 10s;
  animation-iteration-count: infinite;
}

.icon-align-left {
  vertical-align: text-bottom;
  margin-right: 20px;
}

.icon-align-right {
  vertical-align: text-bottom;
  margin-left: 20px;
}

.add-calendar {
  text-align: center;
}

@keyframes loading {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(3600deg);;}
}

.no-date-sign {
  text-align: center;
  opacity: 0.3;
  color: #999;
}

.assign-container {
  margin-left: 5px;
}

.assign-applicant {
  font-family: 'Montserrat', cursive;
  display: flex;
  justify-content: space-between;
}

.ui-picklist .ui-picklist-list {

}

.card {
  box-shadow: 0 0 3px #999;
  border-radius: 3px;
  padding: 30px;
}

.date-input {
  padding: 3px;
  font-family: 'Montserrat', cursive;
  color: green;
  margin: 30px;
}

.date-button {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.applicant-individual-container {
  display: flex;
  justify-content: space-between;
}

.assign-controller-container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 10px 40px;
}
