<div class="container">

  <!-- Left side - date picker -->
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <h4 class="assign-title">Choose a date</h4>
      <div class="dates-container">
        <div *ngIf="!loaded" class="loading-icon-container">
          <i class="material-icons md-40 loading-icon">autorenew</i>
        </div>
        <div *ngFor="let dateObj of dates.sort(sortDates)" class="date-button-container">
          <button class="btn btn-success date-button" (click)="selectDate(dateObj)">
            <i class="material-icons icon-align-left md-10">date_range</i>
            {{ dateObj | date: 'short' }}
          </button>
        </div>
      </div>
      <div class="date-button-container">
        <button *ngIf="!dateSelectorOn" class="btn btn-success date-button" (click)="toggleDateSelector()">
          <i class="material-icons icon-align-left md-10">add_circle</i>
          Add a new date
        </button>
        <button *ngIf="dateSelectorOn" class="btn btn-success date-button" (click)="toggleDateSelector()">
          Close calendar
        </button>
      </div>
      <div *ngIf="dateSelectorOn" class="add-calendar">
        <p-calendar
          [(ngModel)]="date"
          showTime="showTime"
          hourFormat="24">
        </p-calendar>
        <button class="btn btn-success date-button" (click)="addDate()">
          Add date
          <i class="material-icons icon-align-right md-10">check_circle</i>
        </button>
      </div>
    </div>
  </div>

  <!-- Right side - assign applicant to group/individual -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <!-- Start -->
    <div *ngIf="!chosenDate" class="card">
      <div class="no-date-sign">
        <i class="material-icons md-120">error_outline</i>
        <h1>No date selected!</h1>
      </div>
    </div>

    <!-- Group times -->
    <div *ngIf="showGroupTimes()" class="card">
      <h4 class="assign-title">Group screening - Assign the applicant to the choosen date</h4>
      <div class="assign-container">
        <p-pickList
            [showSourceControls]="false"
            [showTargetControls]="false"
            [responsive]="true"
            [source]="sourceList"
            [target]="targetList">
          <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix">
              <div class="assign-applicant">
                <i *ngIf="user.gender == 'male'" class="fa fa-mars" aria-hidden="true"></i>
                <i *ngIf="user.gender == 'female'" class="fa fa-venus" aria-hidden="true"></i>
                <span>{{user.name}}</span><span>{{user.age}}</span>
              </div>
            </div>
          </ng-template>
        </p-pickList>
      </div>
      <div class="assign-controller-container">
        <button class="btn btn-success" (click)="saveGroupTimes()">Continue</button>
      </div>
    </div>

    <!-- Individual times -->
    <div *ngIf="showIndividualTimes()" class="card">
      <h4 class="assign-title">Individual screening - Set a date for the applicant</h4>
      <div *ngFor="let user of targetList" class="applicant-individual-container">
        <div>
          <span>{{user.name}}</span>
          <p-calendar
            [(ngModel)]="user.individual"
            showTime="showTime"
            hourFormat="24">
          </p-calendar>
      </div>
      <div class="assign-controller-container">
        <button class="btn btn-success" (click)="saveIndividualTimes()">Continue</button>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="showLoading()" class="card">
    <div class="loading-icon-container">
      <i class="material-icons md-40 loading-icon">autorenew</i>
    </div>
  </div>

  <!-- Messages -->
  <p-growl [(value)]="messages" life=3000></p-growl>

</div>
