.container {
  padding-top: 85px;
}

.assign-title {
  text-align: center;
  font-family: 'Montserrat', cursive;
  color: blue;
  text-decoration: underline;
  margin-bottom: 30px;
}

.assign-container {
  margin-left: 100px;
}

.assign-applicant {
  font-family: 'Montserrat', cursive;
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.card {
  box-shadow: 0 0 3px #999;
  border-radius: 3px;
  padding: 30px;
}

.date-input {
  padding: 3px;
  font-family: 'Montserrat', cursive;
  color: green;
}

.applicant-individual-container {
  display: flex;
  justify-content: space-between;
}
