<div class="container">

    <!-- Left side - date picker -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <h3>Group screening dates</h3>
            <div class="row">
                <div *ngFor="let dateObj of dates.sort()" class="date-button-container">
                    <h4 class="text-info">
                        <i class="fa fa-calendar"></i>&nbsp;
                        {{ dateObj | date: 'yyyy.MM.dd. HH:mm' }}
                    </h4>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p-calendar
                            [(ngModel)]="date"
                            showTime="showTime"
                            dateFormat="yy.mm.dd."
                            [minDate]="minDate"
                            [locale]="hu"
                            hourFormat="24">
                    </p-calendar>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <span>
                    <a (click)="addDate()">
                        <i class="fa fa-plus text-success" aria-hidden="true">&nbsp;Add new</i>
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Right side - assign applicant to group/individual -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

        <!-- Group times -->
        <div class="row">
            <h2>Group screening times</h2>

            <div *ngFor="let user of users">
                <calendar-group-date-assignment
                        [dates]="selectDates"
                        [user]="user"
                ></calendar-group-date-assignment>
            </div>
        </div>
        <br />
        <div class="row">
            <button class="btn btn-success" (click)="saveGroupTimes()">Save group times</button>
        </div>

        <br />

        <div class="row">
            <h2>Personal screening times</h2>
            <div *ngFor="let user of users">
                <calendar-personal-date-assignment
                    [user]="user"
                >
                </calendar-personal-date-assignment>
            </div>
        </div>
        <br />
        <div class="row">
            <button class="btn btn-success" (click)="savePersonalTimes()">Save personal times</button>
        </div>



        <!-- Messages -->
        <p-growl [(value)]="messages"
                 life=5000
                 [style]="{'margin-top': '2.5em'}"
        ></p-growl>

    </div>
</div>