<div class="row" *ngIf="user.finalResult !== undefined">
    <h3 class="text-danger">This user has already received a final result. Are you sure you want to modify his/her
        screening
        data?</h3>
</div>
<div class="row">
    <!-- ##### sidebar to select the step ##### -->
    <div class="col-xs-2">
        <div>
            <h3>{{ user.name }}</h3>
            <div *ngFor="let step of screeningSteps">
                <a (click)="getApplicantsStep(step)">
                    <h3 class="{{ isActiveStep(step) }}">{{ step.name }}</h3>
                </a>
            </div>
        </div>
    </div>

    <!-- ##### main area ##### -->
    <div class="col-xs-10" *ngIf="userScreeningStep && userScreeningStep.screeningStep.criteria && userScreeningStep.screeningStep.criteria.length > 0">
        <div *ngIf="userScreeningStep">

            <div class="col-xs-7">
                <h3>Criteria</h3>
                <blockquote *ngFor="let criteria of userScreeningStep.screeningStep.criteria">
                    <div *ngIf="criteria.criteria.rubrics && criteria.criteria.rubrics.length > 0">
                        <div class="form-group">
                            <label for="selectedRubric">{{ criteria.criteria.name }}</label>
                            <div class="pull-right">
                                <button (click)="criteria.status = 'yes'"
                                        class="btn btn-success">
                                    <i class="fa fa-check {{isActiveCriteriaStatus(criteria, 'yes')}}" aria-hidden="true"></i>
                                </button>
                                <button (click)="criteria.status = 'maybe'"
                                        class="btn btn-warning">
                                    <i class="fa fa-question {{isActiveCriteriaStatus(criteria, 'maybe')}}" aria-hidden="true"></i>
                                </button>
                                <button (click)="criteria.status = 'no'"
                                        class="btn btn-danger">
                                    <i class="fa fa-ban {{isActiveCriteriaStatus(criteria, 'no')}}" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="selectedRubric" [(ngModel)]="criteria.points" (change)="average()">
                                <option *ngFor="let rubric of criteria.criteria.rubrics" [value]="rubric.order">
                                    {{rubric.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="!criteria.criteria.rubrics || criteria.criteria.rubrics.length === 0">
                        <p class="text-danger">
                            Cannot grade, {{criteria.criteria.name}} has no rubrics, please make sure to add a few.
                        </p>
                    </div>
                    <div class="form-group">
                        <input placeholder="Comment" style="width:100%" [(ngModel)]="criteria.comment"/>
                    </div>
                </blockquote>
            </div>

            <div class="col-xs-5">
                <h3>Step<small>&nbsp;Points:&nbsp;{{userScreeningStep.screeningStep.average}}</small></h3>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="pull-right">
                            <button (click)="userScreeningStep.screeningStep.status = 'yes'" class="btn btn-success">
                                <i class="fa fa-check {{isActiveStepStatus('yes')}}" aria-hidden="true"></i>
                            </button>
                            <button (click)="userScreeningStep.screeningStep.status = 'maybe'" class="btn btn-warning">
                                <i class="fa fa-question {{isActiveStepStatus('maybe')}}" aria-hidden="true"></i>
                            </button>
                            <button (click)="userScreeningStep.screeningStep.status = 'no'" class="btn btn-danger">
                                <i class="fa fa-ban {{isActiveStepStatus('no')}}" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <textarea
                        class="form-control"
                        placeholder="Evaluation"
                        [(ngModel)]="userScreeningStep.screeningStep.comment"
                        rows="10"
                >
                        </textarea>

                <br/>
                <div class="form-group">
                    <button class="btn btn-success" (click)="save()">Save {{chosenStep.name}}
                    </button>
                    <button class="btn btn-success empty" (click)="saveAndRedirect()">Save and jump to screenings</button>
                </div>
            </div>

        </div>
    </div>
</div>