<div class="loading" *ngIf="loading"></div>
<div style="margin-top: 100px"></div>
<div class="container">
    <br/>


    <div class="panel panel-default">
        <div class="panel-heading">
            Submitted personal data
            <input class="pull-right" [(ngModel)]="courseId" placeholder="Course ID / MBL Start">
        </div>
        <div class="panel-body">

            <p-dataTable [value]="data"
                         [paginator]="true"
                         [responsive]="true"
                         [editable]="true"
                         [rowsPerPageOptions]="[20,50,100]"
                         (onEditComplete)="onEditComplete($event)"
                         [rows]="50">

                <p-column field="name"
                          header="Name"
                          [editable]="true"
                          [sortable]="true"
                          [filter]="true"
                          filterMatchMode="contains"></p-column>

                <p-column field="maidenName"
                          [editable]="true"
                          header="Maiden name"></p-column>

                <p-column field="mothersName"
                          [editable]="true"
                          header="Mother's Name"></p-column>

                <p-column field="address"
                          [editable]="true"
                          header="Address"
                ></p-column>

                <p-column field="placeOfBirth"
                          [editable]="true"
                          header="Place of birth"
                ></p-column>

                <p-column field="birthDate"
                          [editable]="true"
                          header="Birth Date"
                >
                    <ng-template let-pdata="rowData" pTemplate="body">
                        {{ pdata.birthDate | date : 'yyyy.MM.dd.' }}
                    </ng-template>

                </p-column>

                <p-column field="idDocumentType"
                          header="Doc"
                          [editable]="true"
                ></p-column>

                <p-column field="idNumber"
                          [editable]="true"
                          header="#"
                ></p-column>

                <p-column field="screeningDate"
                          [editable]="true"
                          header="Screening Date"
                          [sortable]="true"
                          [filter]="true"
                          filterMatchMode="contains"
                >
                    <ng-template let-pdata="rowData" pTemplate="body">
                        {{ pdata.screeningDate | date : 'yyyy.MM.dd.' }}
                    </ng-template>

                </p-column>

                <p-column field="birthDate"
                          [editable]="true"
                          header="Contract signed"
                >
                    <ng-template let-pdata="rowData" pTemplate="body">
                        <button class="btn btn-success" *ngIf="pdata.filled" (click)="contractSigned(pdata.id)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>&nbsp;
                        <button class="btn btn-danger" (click)="rejected(pdata.id)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </ng-template>
                </p-column>

            </p-dataTable>
            <br/>

        </div>
    </div>

</div>