<div class="container">
    <div *ngIf="!user" class="applicant-loading-container">
        <i class="material-icons md-240 applicant-loading">cloud_download</i>
    </div>
    <div *ngIf="user">
        <br>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Applicant Info</div>
                    <div class="panel-body">
                        <div class="name">
                            {{user.givenName}} {{user.familyName}}
                            <hr style="margin-bottom: 0; margin-top: 5px; color: rgb(245,245,245); height: 1px;">
                        </div>

                        <i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}} <br>
                        <i class="fa fa-phone-square" aria-hidden="true"></i> {{user.phoneNumber}} <br>
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{calculateage(user.dateOfBirth)}} years old<br>
                        <i class="fa fa-retweet" aria-hidden="true"></i> applied {{user.timesApplied}} times<br>
                        <i class="fa fa-play-circle" aria-hidden="true"></i> process started at {{application.processStartedAt | date: 'yyyy.MM.dd. HH:mm'}} <br>
                        <i class="fa fa-comment" aria-hidden="true" *ngIf="application.comment"></i> <span class="text-danger"> {{application.comment}}</span>

                        <br>

                        <div *ngIf="application.testResults">
                            <applicant-test *ngFor="let result of application.testResults; let idx=index" [testResult]="result" [idx]="idx" [size]="application.testResults.length"></applicant-test>
                        </div>

                        <br>

                        <div class="well clearfix" *ngIf="application.screeningGroupTime">
                            <span class="time-well">Group Time</span>
                            <p-calendar class="pull-right"
                                        [(ngModel)]="application.screeningGroupTime"
                                        [disabled]="!application.active"
                                        showTime="showTime"
                                        dateFormat="yy.mm.dd."
                                        hourFormat="24">
                            </p-calendar>
                        </div>

                        <div class="well clearfix" *ngIf="application.screeningPersonalTime">
                            <span class="time-well">Personal Time</span>
                            <p-calendar class="pull-right"
                                        [(ngModel)]="application.screeningPersonalTime"
                                        [disabled]="!application.active"
                                        showTime="showTime"
                                        dateFormat="yy.mm.dd."
                                        hourFormat="24">
                            </p-calendar>
                        </div>

                        <a (click)="save()" class="btn btn-danger btn-xs btn-block {{disabled()}}">Save Group & Personal Time</a> <br>

                        <div class="well clearfix">
                            <span class="time-well">Applications</span>
                            <span *ngFor="let appl of user.applications; let idx = index; trackBy: trackByFn;">
                                <a (click)="set(appl)" class="btn {{getClass(appl)}} btn-xs btn-block spaced" *ngIf="appl.processStartedAt">
                                    # {{idx + 1}}, started at: {{appl.processStartedAt | date: 'yyyy.MM.dd. HH:mm'}}
                                </a>
                                <a (click)="set(appl)" class="btn {{getClass(appl)}} btn-xs btn-block spaced" *ngIf="!appl.processStartedAt">
                                    # {{idx + 1}}, not started
                                </a>
                            </span>
                        </div>

                        <div class="well clearfix">
                            <a *ngIf="application.active" (click)="resetApplication()" class="btn btn-danger btn-xs btn-block "><i class="fa fa-ban"></i>&nbsp;Terminate application</a>
                            <a *ngIf="!application.active" (click)="restoreApplication()" class="btn btn-success btn-xs btn-block "><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Restore application</a>
                        </div>

                        <div class="well clearfix">
                            <a (click)="deleteUser()" class="btn btn-danger btn-xs btn-block"><i class="fa fa-ban"></i>&nbsp;Delete user from the system</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{{user.givenName}}'s Motivations</div>
                    <div class="panel-body">

                        <div *ngFor="let result of application.testResults">
                            <div *ngIf="result.isMotivation">
                                <applicant-video [testResult]="result" [id]="user.id" [enabled]="application.active"></applicant-video>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{user.givenName}}'s Screening info & Comments</div>
                    <div class="panel-body">
                        <applicant-screening *ngIf="application.screeningSteps && application.screeningSteps.length > 0" [user]="user" [application]="application"></applicant-screening>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--todo-->
