.name {
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 15px 0;
}

.applicant-profile {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
  background-color: beige;
}

.applicant-profile-details {
  box-shadow: inset 0 0 10px 10px beige;
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}

.applicant-profile-details p {
  display: flex;
  justify-content: space-between;
}

.material-icons.md-240 {
  font-size: 240px;
}

.applicant-loading-container {
  padding: 50px;
  text-align: center;
}

.applicant-loading {
  color: blue;
  opacity: 0.1;
  animation: flyDown 3s;
  animation-iteration-count: infinite;
}

@keyframes flyDown {
  0% {transform: translateY(0px);}
  100% {transform: translateY(100px);}
}
