<div class="loading" *ngIf="loading"></div>

<p-dataTable [value]="applicants"
             expandableRows="true"
             selectionMode="single"
             (onRowClick)="handleRowClick($event)"
             (onRowExpand)="handleRowExpand($event)"
             [paginator]="true"
             [rowsPerPageOptions]="[10,20,50]"
             [rows]="10">

    <p-column expander="true"
              styleClass="col-icon"
              [style]="{'width':'38px'}"></p-column>

    <p-column field="name"
              header="Name"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="Search by Name"
              filterMatchMode="contains"></p-column>

    <p-column field="status"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="Search by Last Passed"
              filterMatchMode="contains"
              header="Last Passed"></p-column>

    <p-column field="email"
              header="E-Mail"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="Search by Email"
              filterMatchMode="contains"></p-column>

    <p-column field="phoneNumber"
              header="Phone Number"
              [filter]="true"
              filterPlaceholder="Search #"
              filterMatchMode="contains"
              [style]="{'width':'145px'}"></p-column>

    <p-column field="attempts"
              header="Tries"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="#"
              filterMatchMode="contains"
              [style]="{'width':'80px'}"></p-column>

    <ng-template let-applicant pTemplate="rowexpansion">
        <div class="ui-grid"  style="font-size:14px; padding-left:38px; padding-right: 38px; padding-bottom: 30px;">
            <div *ngIf="applicant.user">
                <div class="ui-grid-row">
                    <span class="applicant-name">{{applicant.user.givenName}} {{applicant.user.familyName}}</span>
                </div>
                <div class="ui-grid-row" *ngIf="applicant.user.applications[1].active">
                    <!--user.applications[0].active-->

                    <div class="ui-grid-col-5" >
                        <p><b>Process Started at </b> {{applicant.user.applications[0].processStartedAt | date: 'yyyy.MM.dd. HH:mm'}}</p>
                        <span><b>Group Time:</b> {{applicant.user.applications[0].screeningGroupTime | date: 'yyyy.MM.dd. HH:mm'}}</span><br />
                        <span><b>Personal Time:</b> {{applicant.user.applications[0].screeningPersonalTime | date: 'yyyy.MM.dd. HH:mm'}}</span>
                        <br /><br />
                        <span><b>Screening Details:</b> <a [attr.href]="'applicants/' + applicant.id">applicant page</a></span><br />
                        <br /><br />
                        <p>
                            <b>Final Result:</b>
                            <span *ngIf="applicant.user.finalResult">{{applicant.user.finalResult}}</span>
                            <span *ngIf="!applicant.user.finalResult">No final result yet</span>
                        </p>
                        <p>
                            <b>Comment:</b>
                            <span *ngIf="applicant.user.comment">{{applicant.user.comment}}</span>
                            <span *ngIf="!applicant.user.comment">No comment for this user</span>
                        </p>
                    </div>
                    <div class="ui-grid-col-7">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Survey</th>
                                    <th>Result</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let testResult of applicant.user.applications[0].testResults">
                                    <td>{{testResult.name}}</td>
                                    <td>
                                        <i *ngIf="testResult.passed" class="fa fa-check" aria-hidden="true"></i>
                                        <i *ngIf="!testResult.passed" class="fa fa-ban" aria-hidden="true"></i>
                                    </td>
                                    <td>{{testResult.percent}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui-grid-row"><h4>No active application</h4></div>
            </div>
        </div>
    </ng-template>

</p-dataTable>
<br />

<p>There are {{applicants.length}} <span *ngIf="!fetchAll">active</span> applicants for the selected location.</p>
