<div *ngIf="survey">

    <div class="row">
        <survey-data [survey]="survey" [motivation]="motivation"></survey-data>
    </div>

    <div class="row">

        <h2>
            Questions&nbsp;<small>{{ survey.questions.length }}</small>
            <span class="pull-right">
                <i class="fa fa-plus text-success" aria-hidden="true" (click)="newQuestion()" data-toggle="tooltip" title="Add new question"></i>
            </span>
            <div class="text-center" *ngIf="!motivation">
                <ul class="list-inline">
                    <li *ngFor="let question of survey.questions; let i = index">
                        <h5><a (click)="activeSlideIndex = i">{{asText(i)}}&nbsp;</a></h5>
                    </li>
                </ul>
            </div>
        </h2>

        <carousel [noWrap]="true" [interval]="false" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let question of survey.questions; let i = index">
                <span>
                    <i class="fa fa-trash-o text-danger" aria-hidden="true" (click)="deleteQuestion(question)"></i>
                </span>
                <question-editor
                        [question]="question"
                        [motivation]="motivation"
                        [i]="i"
                >
                </question-editor>
            </slide>
        </carousel>

        <br/>
    </div>


    <div *ngIf="!validate" class="alert alert-danger">
        {{message}}
    </div>

    <button class="btn btn-primary" (click)="postSurvey()">SAVE SURVEY</button>

</div>

