<div class = "question-editor-component">
    <h1>CHILDREN Question</h1>
    <button class="btn btn-primary" (click)="newQuestion()">Create new Question</button>
    <div *ngIf="(question)">
        <!--name="content-{{i}}"-->
            <input placeholder="questionContent"   [(ngModel)]="question.questionContent" />
            <input placeholder="type"  [(ngModel)]="question.type" />
    </div>
    <h1>OPTION EDITOR</h1>
    <question-editor *ngFor="let option of options"
                    [option] = "option">
    </question-editor>

</div>

