<div class = "question-editor-component" *ngIf="question">
    <h2>Question</h2>
    <button class="btn" (click)="newQuestion()">Create new Option</button>
    {{question.questionContent}}
    <div >
        <!--name="content-{{i}}"-->
            <input placeholder="questionContent"   [(ngModel)]="question.questionContent" />
            <input placeholder="type"  [(ngModel)]="question.type" />
    </div>
    <h3>OPTION EDITOR</h3>
    <question-editor *ngFor="let option of question.options"
                    [option] = "option">
    </question-editor>

</div>

