<div *ngIf="application">
    
    <div class="panel {{ getClass(step) }}" *ngFor="let step of application.screeningSteps">
        <div class="panel-heading">
            <h3 class="panel-title">{{ step.name }}&nbsp;

                <i class="fa fa-check" aria-hidden="true" *ngIf="step.status === 'yes'"></i>
                <i class="fa fa-question" aria-hidden="true" *ngIf="step.status === 'maybe'"></i>
                <i class="fa fa-ban" aria-hidden="true" *ngIf="step.status === 'no'"></i>

            </h3>
        </div>
        <div class="panel-body" style="padding-left: 30px; padding-right: 30px" >

            <div class="row">
                <h4 *ngIf="step.points">
                    POINTS<small>&nbsp;{{ step.points }}</small>
                </h4>
                <h4>
                    INTERVIEWER
                    <br/>
                    <small>{{ step.interviewer }}</small>
                </h4>
                <h4>
                    COMMENT
                    <br/>
                    <p style="text-align: justify; font-size: 0.8em">{{ step.comment }}</p>
                </h4>
            </div>

            <div class="row">
                <div class="col-sm-4" *ngFor="let crit of step.criteria">
                    <div class="panel {{ getClass(crit) }}" *ngIf="crit.points || crit.comment">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{ crit.name }}&nbsp;
                                <small>
                                    <i class="fa fa-check" aria-hidden="true"
                                       *ngIf="crit.status === 'yes'">&nbsp;Yes</i>
                                    <i class="fa fa-question" aria-hidden="true"
                                       *ngIf="crit.status === 'maybe'">&nbsp;Maybe</i>
                                    <i class="fa fa-ban" aria-hidden="true"
                                       *ngIf="crit.status === 'no'">&nbsp;No</i>
                                </small>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <h5 *ngIf="crit.points">
                                POINTS:&nbsp;<b>{{ crit.points }}</b>
                            </h5>
                            <h5 *ngIf="crit.comment">
                                COMMENT
                                <br/>
                                <small>{{ crit.comment }}</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>