<div *ngIf="user">
    <div class="col-sm-3">
        <div *ngIf="user.finalResult === undefined">
            <h2>Final result</h2>
            <h4 *ngIf="user.finalResult === undefined || user.finalResult === true">
                <a (click)="setFinalResult(true)" class="text-success">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Accept
                </a>
            </h4>
            <h4>
                <a (click)="setFinalResult(false)" class="text-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Decline
                </a>
            </h4>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="panel {{ getClass(step) }}" *ngFor="let step of user.screeningSteps">
            <div class="panel-heading">
                <h3 class="panel-title">{{ step.stepName }}&nbsp;
                    <small>
                        <i class="fa fa-check" aria-hidden="true" *ngIf="step.status === 'yes'">&nbsp;Yes</i>
                        <i class="fa fa-question" aria-hidden="true" *ngIf="step.status === 'maybe'">&nbsp;Maybe</i>
                        <i class="fa fa-ban" aria-hidden="true" *ngIf="step.status === 'no'">&nbsp;No</i>
                    </small>
                </h3>
            </div>
            <div class="panel-body">

                <div class="col-sm-3">
                    <h4 *ngIf="step.points">
                        <small>POINTS</small>&nbsp;{{ step.points }}
                    </h4>
                    <h4>
                        <small>COMMENT</small><br />{{ step.comment }}
                    </h4>
                    <h4>
                        <small>INTERVIEWER</small><br />{{ step.interviewer }}
                    </h4>
                </div>

                <div class="col-sm-3 panel {{ getClass(crit) }}" *ngFor="let crit of step.criterias">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ crit.criteriaName }}&nbsp;
                            <small>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="crit.status === 'yes'">&nbsp;Yes</i>
                                <i class="fa fa-question" aria-hidden="true" *ngIf="crit.status === 'maybe'">&nbsp;Maybe</i>
                                <i class="fa fa-ban" aria-hidden="true"
                                   *ngIf="crit.status === 'no'">&nbsp;No</i>
                            </small>
                        </h4>
                    </div>
                    <div class="panel-body" style="min-height: 250px">
                        <h5>
                            <small>POINTS</small>&nbsp;{{ crit.points }}
                        </h5>
                        <h5>
                            <small>COMMENT</small><br />{{ crit.comment }}
                        </h5>
                        <h5>
                            <small>STATUS</small>&nbsp;{{ crit.status }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>