.navbar-default {
    background-color: black;
    border: 0
}

.container {
    background-color: black;
    margin-top: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: black;
    background-color: white;
}

.navbar-default .navbar-brand:focus {
    color: #d9534f;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: white;
    color: black;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #d9534f;
}

