<div style="margin-top: 100px"></div>
<div class="container">
    <br/>

    <div class="row">
        <div class="col-md-6">
            <div *ngIf="data">
                Active application for the location: {{data.activeApplicationsData.active}}<br/>
                Inactive application for the location: {{data.activeApplicationsData.inactive}}
            </div>
        </div>
        <div class="col-md-6">
            <p-dataTable *ngIf="data"
                         [value]="data.monthlyScreeningsData"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10,20,50]"
                         [rows]="10">

                <p-column field="month"
                          header="month"
                          [sortable]="true"
                ></p-column>

                <p-column field="finalResultY"
                          header="Final Result Y"
                ></p-column>

                <p-column field="finalResultN"
                          header="Final Result N"
                ></p-column>

            </p-dataTable>
        </div>
    </div>

    <br />

    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-3">
            From:
            <p-calendar [(ngModel)]="fromDateTest" dateFormat="yy.mm.dd" [maxDate]="toDateTest" [locale]="en"></p-calendar>
            <br />
            To:
            <p-calendar [(ngModel)]="toDateTest" dateFormat="yy.mm.dd" [maxDate]="today" [locale]="en"></p-calendar>

            <button class="btn btn-success" (click)="filterDateTest()">Filter</button>
            <button class="btn btn-default" (click)="resetTest()">Reset</button>

            <br />
            Started:
            <ul>
                <li *ngFor="let key of testCountsStarted | keys">
                    {{key}} : {{testCountsStarted[key]}}
                </li>
            </ul>
            <br />
            Success:
            <ul>
                <li *ngFor="let key of testCountSuccess | keys">
                    {{key}} : {{testCountSuccess[key]}}
                </li>
            </ul>



        </div>
        <div class="col-md-9">
            <p-dataTable *ngIf="data"
                         [value]="testDisplayData"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10,20,50]"
                         [rows]="10">

                <p-column field="day"
                          header="Day"
                >
                    <ng-template pTemplate="body" let-rowdata="rowData">
                        {{ rowdata.day | date: 'yyyy.MM.dd'}}
                    </ng-template>
                </p-column>

                <p-column field="test"
                          header="Test name"
                ></p-column>

                <p-column field="countStarted"
                          header="Started"
                ></p-column>

                <p-column field="countSuccess"
                          header="Success"
                ></p-column>

            </p-dataTable>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-3">
            From:
            <p-calendar [(ngModel)]="fromDateScr" dateFormat="yy.mm.dd" [maxDate]="toDateScr" [locale]="en"></p-calendar>
            <br />
            To:
            <p-calendar [(ngModel)]="toDateScr" dateFormat="yy.mm.dd" [maxDate]="today" [locale]="en"></p-calendar>

            <button class="btn btn-success" (click)="filterDateScr()">Filter</button>
            <button class="btn btn-default" (click)="resetScr()">Reset</button>

            <br />
            Started:
            <ul>
                <li *ngFor="let key of scrCounts | keys">
                    {{key}} : {{scrCounts[key]}}
                </li>
            </ul>
            <br />



        </div>
        <div class="col-md-9">
        <p-dataTable *ngIf="data"
                     [value]="data.screeningsStatData"
                     [paginator]="true"
                     [rowsPerPageOptions]="[10,20,50]"
                     [rows]="10">

            <p-column field="day"
                      header="Day"
            >
                <ng-template pTemplate="body" let-rowdata="rowData">
                    {{ rowdata.day | date: 'yyyy.MM.dd'}}
                </ng-template>
            </p-column>

            <p-column field="countInvited"
                      header="Invited"
            ></p-column>

            <p-column field="countScheduleSignedBack"
                      header="Signed back"
            ></p-column>

            <p-column field="countBeenToScreening"
                      header="Screening"
            ></p-column>

            <p-column field="countFinalResultY"
                      header="Y"
            ></p-column>

            <p-column field="countFinalResultN"
                      header="N"
            ></p-column>

        </p-dataTable>
        </div>
    </div>

</div>