<div style="margin-top: 100px"></div>
<div class="container">
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">Accepted applicants for the next course</div>
        <div class="panel-body">

        </div>
    </div>

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">UTM info</div>
        <div class="panel-body">

        </div>
    </div>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">

        </div>
    </div>

    <br/>
</div>