<div class="application-video-component" *ngIf="testResult">

    <div class="col-md-9 col-log-9">
        <div class="applicant-motivation-video-container ">
            <iframe
                    class="e2e-iframe-trusted-src" width="420" height="315" [src]="getMotivationVideo()">
            </iframe>
        </div>
        <br>
        <textarea placeholder="Comment for motivation" rows="5" cols="60" (blur)="saveComment($event.target.value)"
        ></textarea>
        <br>
        <button class="btn btn-danger" (click)="gradeMotivation(true)">Accept</button>
        <button class="btn btn-success" (click)="gradeMotivation(false)">Decline</button>
    </div>


</div>