<div *ngIf="testResult">



        <div class="well">
            <div [innerHTML]="parseTestResultAnswer()"></div>
        </div>

        <div>
            <textarea
                    rows="5"
                    class="form-control"
                    (blur)="updateComment($event.target.value)"
                    id="comment"
                    placeholder="You can give some comment here, the applicant won't see this ever."
                    [disabled]="testResult.passed !== undefined"
                    [(ngModel)]="testResult.comment">
                    </textarea>
        </div>




        <div class="row form">

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="comment" class="control-label">Comment</label>
                    <h4 *ngIf="testResult.passed === undefined">
                        <a (click)="gradeMotivation(true)" class="text-success">
                            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Accept
                        </a>
                    </h4>
                    <h4 *ngIf="testResult.passed === undefined">
                        <a (click)="gradeMotivation(false)" class="text-danger">
                            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Decline
                        </a>
                    </h4>
                </div>
                <div class="col-sm-10">

                    <button class="btn btn-success" (click)="saveComment()">Save</button>
                </div>
            </div>

        </div>

</div>