
.card {
    box-shadow: 0 0 5px #999;
    padding: 10px;
}

.tutorial h2 {
    color: green;
    margin-bottom: 20px;
    font-weight: bolder;
}

.tutorial p {
    font-size: 0.8em;
    padding: 5px 15px;
    text-align: justify;
}

.tutorial span {
    color: green;
    font-weight: bolder;
}