<h2>Active Applicants for {{locationId}}</h2>
<p-dataTable [value]="applicants" expandableRows="true">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'40px'}"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="status" header="Last Passed"></p-column>
    <p-column field="email" header="E-Mail"></p-column>
    <p-column field="name" header="Phone Number"></p-column>
    <p-column field="attempts" header="Retry Attempts" [style]="{'width':'80px'}"></p-column>
    <ng-template applicants pTemplate="rowexpansion">
        <div class="ui-grid" style="font-size:14px;padding:5px 35px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <ul>
                                    <li>BirthDate</li>
                                    <li>Process Started</li>
                                    <li>Deadline</li>
                                    <li>TestResults</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataTable>