<h2>Active Applicants for {{locationId}}</h2>
<p-dataTable [value]="applicants" expandableRows="true" (onRowExpand)="handleRowExpand($event)">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'40px'}"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="status" header="Last Passed"></p-column>
    <p-column field="email" header="E-Mail"></p-column>
    <p-column field="name" header="Phone Number"></p-column>
    <p-column field="attempts" header="Retry Attempts" [style]="{'width':'80px'}"></p-column>
    <ng-template let-applicant pTemplate="rowexpansion">
        <div class="ui-grid" style="font-size:14px;padding:5px 35px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <div *ngIf="applicant.user">
                                    <p>Date of Birth {{applicant.user.dateOfBirth}}</p>
                                    <p>Applied {{applicant.user.timesApplied}} times</p>
                                    <p>Location {{applicant.user.location}}</p>
                                    <p>Process Started At {{applicant.user.processStartedAt}}</p>
                                    <p>TestResults {{applicant.user.testResults}}</p>
                                    <p>Group Time {{applicant.user.screeningGroupTime}}</p>
                                    <p>Personal Time {{applicant.user.screeningPersonalTime}}</p>
                                    <p>Screening Info {{applicant.user.screeningInfo}}</p>
                                    <p>Final Result {{applicant.user.finalResult}}</p>
                                    <p>Screening Steps {{applicant.user.screeningSteps}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataTable>