<p-dataTable [value]="applicants"
             expandableRows="true"
             (onRowExpand)="handleRowExpand($event)"
             [paginator]="true"
             [rows]="10">
    <p-column expander="true"
              styleClass="col-icon"
              [style]="{'width':'38px'}"></p-column>
    <p-column field="name"
              header="Name"
              [filter]="true"
              filterPlaceholder="Search by Name"
              filterMatchMode="contains"></p-column>
    <p-column field="status"
              header="Last Passed"></p-column>
    <p-column field="email"
              header="E-Mail"
              [filter]="true"
              filterPlaceholder="Search by Email"
              filterMatchMode="contains"></p-column>
    <p-column field="phoneNumber"
              header="Phone Number"
              [filter]="true"
              filterPlaceholder="Search #"
              filterMatchMode="contains"
              [style]="{'width':'145px'}"></p-column>
    <p-column field="attempts"
              header="Retry Attempts"
              [filter]="true"
              filterMatchMode="in"
              [style]="{'width':'80px'}">
        <ng-template pTemplate="filter" let-col>
            <p-multiSelect [options]="cities"
                           defaultLabel="All Locations"
                           (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                           styleClass="ui-column-filter">
            </p-multiSelect>
        </ng-template>

    </p-column>
    <ng-template let-applicant pTemplate="rowexpansion">
        <div class="ui-grid"  style="font-size:14px; padding-left:38px; padding-right: 38px; padding-bottom: 15px;">
            <div *ngIf="applicant.user">
                <div class="ui-grid-row">
                    <h3>{{applicant.user.givenName}} {{applicant.user.familyName}}</h3>
                </div>
                <div class="ui-grid-row">

                    <div class="ui-grid-col-5">
                        <p>Born in <b>{{applicant.user.dateOfBirth}}</b>,
                            <b>{{applicant.user.dateOfBirth | amParse:'YYYY' | amTimeAgo}}</b>,
                            applied <b>{{applicant.user.timesApplied}}</b> times so far.
                        </p>
                        <p><b>Process Started at:</b> {{applicant.user.processStartedAt | date: 'yyyy.MM.dd. HH:mm'}}</p>
                        <p><b>Group Time:</b> {{applicant.user.screeningGroupTime | date: 'yyyy.MM.dd. HH:mm'}}</p>
                        <p><b>Personal Time:</b> {{applicant.user.screeningPersonalTime | date: 'yyyy.MM.dd. HH:mm'}}</p>
                        <p><b>Screening Steps:</b> {{applicant.user.screeningSteps}}</p>
                        <p><b>Screening Info:</b> {{applicant.user.screeningInfo}}</p>
                        <p><b>Final Result:</b> {{applicant.user.finalResult}}</p>
                    </div>
                    <div class="ui-grid-col-7">
                        <p><b>Test Results</b></p>
                        <ul>
                            <li *ngFor="let testResult of applicant.user.testResults.reverse()">
                                <span *ngIf="testResult.passed"><b>Passed</b> the</span>
                                <span><i><b>{{testResult.name}}</b></i></span> survey with <b>{{testResult.percent}}%</b>.
                                <br />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataTable>