<div class="container">
  <div class="row loc-buttons">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 loc-button-place" *ngFor="let loc of locations">
      <button (click)="chooseLocation(loc.id)" class="btn btn-info {{isChosen(loc.id)}}">{{loc.name}}</button>
    </div>
  </div>
  <div class="row" *ngIf="locationChosen()">
    <div class="col-md-6 col-sm-12">
      <div class="dashboard-card">
        <h4>Motivation videos to grade</h4>
        <div *ngFor="let user of usersWithVideo">
          <button>
            {{user.givenName}}&nbsp;{{user.familyName}}
            <i class="material-icons icon-align">play_circle_outline</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="dashboard-card">
        <h4>Screenings to attend</h4>
        <div *ngFor="let user of usersWithScreening">
          <p>
            {{user.date}} Team: {{user.team}} / Solo:{{user.solo}}
            <button>
              {{user.givenName}}&nbsp;{{user.familyName}}
              <i class="material-icons">contacts</i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
