<div class="container">
    <div *ngIf="hasLocation(); then locationIsSet else locationIsNotSet"></div>
    <ng-template #locationIsSet>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">Motivation Videos to Grade</div>
                <div class="panel-body">
                    <dashboard-motivation></dashboard-motivation>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Scheduled Screenings</div>
                <div class="panel-body">
                    <dashboard-screening></dashboard-screening>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Active Applicants for LOCATION</div>
                <div class="panel-body">
                    <app-active-applicants-table></app-active-applicants-table>
                </div>
            </div>
    </ng-template>
    <ng-template #locationIsNotSet>
        <br />
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">First Things First</h4>
            <hr />
            <p>Select a Location from the dropdown above. You can find it in the navigation bar.</p>
        </div>
    </ng-template>
</div>
