

.material-icons.md-240 {
    font-size: 240px;
}

.applicant-loading-container {
    padding: 50px;
    text-align: center;
}

.applicant-loading {
    color: blue;
    opacity: 0.1;
    animation: flyDown 3s;
    animation-iteration-count: infinite;
}

@keyframes flyDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100px);
    }
}
