<div class="dashboard-screening-component">

<div *ngIf="userWithScreening">
            <div class="dashboard-user">
                <div class="screening-details">
                    <p>{{userWithScreening.name}}</p>
                    <p class="screening-date">
                        <!--{{ userWithScreening.screeningInfo.day | date: 'short' }}-->
                    </p>
                </div>
                <button class="btn btn-success" (click)="getApplicant(userWithScreening.adminId)">
                    Check applicant&nbsp;&gt;&gt;
                </button>
</div>
</div>
</div>