<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Group time</th>
            <th>Personal time</th>
            <th>Signed back</th>
        </tr>
        <tr *ngFor="let user of users" (onClick)="navigate(user)">
            <td>{{ user.name }}</td>
            <td>
                <p *ngIf="user.groupTime">
                {{ user.groupTime | date: 'yyyy.MM.dd. HH:mm' }}
                </p>
                <p *ngIf="!user.groupTime">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </p>
            </td>
            <td>
                <p *ngIf="user.personalTime">
                {{ user.personalTime | date: 'yyyy.MM.dd. HH:mm' }}
                </p>
                <p *ngIf="!user.personalTime">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </p>
            </td>
            <td>
                <p *ngIf="user.scheduleSignedBack === true" class="text-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </p>
                <p *ngIf="!user.scheduleSignedBack">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </p>
            </td>
        </tr>
    </table>
</div>
