<div>
    <table class="table table-striped table-bordered" *ngIf="users && users.length > 0">
        <tr>
            <th>Applicant Name</th>
            <th>Assigned Group Time</th>
            <th>Assigned Personal Time</th>
            <th>Signed Back</th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users"
            [style.background-color] = "!user.scheduleSignedBack ? '#d9534f' : '#5cb85c'"
            [style.color] = "!user.scheduleSignedBack ? '#fff' : '#fff'">
            <td>
                {{ user.name }}
            </td>
            <td>
                <p *ngIf="user.groupTime">
                {{ user.groupTime | date: 'yyyy.MM.dd. HH:mm' }}
                </p>
                <p *ngIf="!user.groupTime">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </p>
            </td>
            <td>
                <p *ngIf="user.personalTime">
                {{ user.personalTime | date: 'yyyy.MM.dd. HH:mm' }}
                </p>
                <p *ngIf="!user.personalTime">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </p>
            </td>
            <td>
                <p *ngIf="user.scheduleSignedBack === true">
                    Coming
                </p>
                <p *ngIf="!user.scheduleSignedBack">
                    Not Signed Back
                </p>
            </td>
            <td>
                <button class="btn btn-warning btn-xs btn-block" (click)="navigate(user)">Profile</button>
            </td>
        </tr>
    </table>
    <h3 class="text-success" *ngIf="!users || users.length === 0">There are no screening tasks, hurray!</h3>
</div>
