<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 card-container">
      <div class="card">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 card-container">
      <div class="card tutorial">
        <h2>Evaluate screenings</h2>
        <p>
          - You can rate the applicants based on the criterias set for <span>Budapest</span>.
        </p>
        <p>
          - Some more stuff what you should do.
        </p>
        <p>
          - And some other stuff comes here.
        </p>
      </div>
      <div class="router-button-container">
        <button (click)="editScreening()" class="router-button">
          Edit screening
        </button>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
