input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
  padding-top: 65px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.editor-info {
  padding: 7px;
  color: green;
}

.card-container {
  padding: 20px;
}

.card {
  box-shadow: 0 0 5px #999;
  padding: 10px;
}

.screening-step-container {
  padding: 10px;
  margin: 10px;
  box-shadow: inset 0 0 5px #999;
}

.screening-step-title {
  color: green;
  padding: 0;
  margin: 0;
}

.step-container {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0;
  margin: 10px;
  display: inline-block;
  width: 70%;
  background-color: green;
}

.step-container input {
  padding: 7px;
  margin: 0;
  width: 90%;
  border: 0;
  font-weight: bold;
  background-color: green;
  color: white;
}

.step-container input::placeholder {
  color: white;
  text-align: center;
}

.step-container input:focus::placeholder {
  color: green;
  text-align: center;
}

.step-container button {
  padding: 7px;
  margin: 0;
  width: 9%;
  border: 0;
  border-left: 1px dashed white;
  background-color: green;
}

.criteria-container {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0;
  margin: 10px;
  display: inline-block;
  width: 70%;
  margin-left: 25%;
  background-color: white;
}

.criteria-container input {
  padding: 7px;
  margin: 0;
  width: 90%;
  border: 0;
}

.criteria-container button {
  padding: 7px;
  margin: 0;
  width: 9%;
  border: 0;
  border-left: 1px dashed red;
  background-color: white;
}

.new-criteria-button {
  margin: 10px;
  width: 70%;
  margin-left: 25%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 7px;
}

.new-step-button {
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px;
  width: 70%;
  padding: 7px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.md-14 {
  font-size: 14px;
  vertical-align: text-bottom;
}

.red-icon {
  color: red;
}

.white-icon {
  color: white;
}

.tutorial h2 {
  color: green;
  margin-bottom: 20px;
  font-weight: bolder;
}

.tutorial p {
  font-size: 0.8em;
  padding: 5px 15px;
  text-align: justify;
}

.tutorial span {
  color: green;
  font-weight: bolder;
}

.save-button {
  background-color: green;
  border: 1px solid green;
  border-radius: 2px;
  color: white;
  padding: 7px;
  font-weight: bolder;
}
