<div class="dasboard-motivation-component">
    <div *ngIf="usersWithVideo && usersWithVideo.length > 0">
        <div class="dashboard-user" *ngFor="let user of usersWithVideo">
            <div class="motivation-details">
                <p>{{ user.name }}</p>
            </div>
            <button class="btn btn-success" (click)="getApplicant(user.adminId)">
                Grade video&nbsp;&gt;&gt;
            </button>
        </div>
    </div>
    <p class="text-success" *ngIf="!usersWithVideo || usersWithVideo.length === 0">
        All caught up! There are no motivation videos to grade.
    </p>
</div>
