<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Existing Email Templates</div>
        <div class="panel-body">
            <div class="btn-group" role="group">
                <button *ngFor="let template of templates"
                        type="button"
                        class="btn btn-default"
                        (click)="selectTemplate(template)">{{template.name}}
                </button>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="selectedTemplate">
        <div class="panel-heading">Template Editor</div>
        <div class="panel-body">
            <h4>{{selectedTemplate.name}}</h4>

            <div *ngIf="!selectedTemplate.master">
                <button class="btn btn-success" (click)="saveTemplate(selectedTemplate)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
                </button>
                <button class="btn btn-primary" (click)="openPreviewWindow(selectedTemplate.template)">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Preview
                </button>
            </div>

            <app-tinymce class="editor"
                         *ngIf="!selectedTemplate.master"
                         [elementId]="'editor'"
                         (onEditorKeyup)="keyupHandlerFunction($event)"
                         [initialHtml]="selectedTemplate.template">
            </app-tinymce>

            <div *ngIf="selectedTemplate.master">
                <textarea
                    rows="40"
                    [(ngModel)]="selectedTemplate.template"
                    disabled>
                </textarea>
            </div>

        </div>
    </div>


    <!--<div class="panel panel-default" *ngIf="selectedTemplate">-->
        <!--<div class="panel-heading">Template Editor</div>-->
        <!--<div class="panel-body">-->
            <!--<div class="btn-group" role="group">-->
                <!--<div>-->
                    <!--<h4>{{selectedTemplate.name}}</h4>-->

                    <!--<div *ngIf="!selectedTemplate.master">-->
                        <!--<button class="btn btn-success" (click)="saveTemplate(selectedTemplate)">-->
                            <!--<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save-->
                        <!--</button>-->
                        <!--<button class="btn btn-primary" (click)="openPreviewWindow(selectedTemplate.template)">-->
                            <!--<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Preview-->
                        <!--</button>-->
                    <!--</div>-->

                    <!---->
                        <!--<app-tinymce class="editor" *ngIf="!selectedTemplate.master"-->
                                <!--[elementId]="'editor'"-->
                                <!--(onEditorKeyup)="keyupHandlerFunction($event)"-->
                                <!--[initialHtml]="selectedTemplate.template">-->
                        <!--</app-tinymce>-->
                    <!---->
                        <!--<textarea *ngIf="selectedTemplate.master"-->
                                  <!--rows="40"-->
                                  <!--[(ngModel)]="selectedTemplate.template"-->
                                  <!--disabled>-->
                        <!--</textarea>-->
                    <!---->

                    <!--<div class="row" *ngIf="!selectedTemplate.master">-->
                        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
                            <!--<div class="form-horizontal">-->
                                <!--<div class="form-group" *ngFor="let key of getKeys(selectedTemplate.model)">-->
                                    <!--<label for="input1" class="col-sm-2 control-label">{{ key }}</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input class="form-control"-->
                                               <!--id="input1"-->
                                               <!--placeholder="Value"-->
                                               <!--[(ngModel)]="selectedTemplate.model[key]">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<p-growl [(value)]="messages"
         life=5000
         [style]="{'margin-top': '2.5em'}">
</p-growl>
